.cart-item {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin-bottom: 15px;
}

.cart-item-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cart-item-info img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item-info h3{
    margin: 0;
}
.cart-item-info p{
    margin: 0;
}

.cart-item .cart-item-action{
    margin-right: 15px;
    display: flex;
    gap: 20px;
}
.cart-item .cart-item-action .remove-item{
    background-color: var(--primary-color);
    color: white;
    padding: 8px 11px;
    border-radius: 100%;
}
.cart-item .cart-item-action .remove-item:hover{
    background-color: var(--primary-dark-color);
}

.cart-item-action .count-quantity{
    border: 2px solid var(--primary-color);
    font-size: 17px;
    padding: 5.2px 8px;
}

.cart-item-action .handleQuantity{
    border-radius: 0;
    color: white;
}

.cart-item-action .item-action{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-primary{
    color: var(--primary-color);
}
.text-bold{
    font-weight: bold;
}


@media screen and (max-width: 768px) { 
    .cart-item{
        width: 100%;
    }
   
}